.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 1px solid #20aeb3;
  font: inherit;
  border-radius: 8px;
}

.form-control input:focus {
  outline-color: #00695c;
}

button {
  font: inherit;
  border: 1px solid #20aeb3;
  border-radius: 8px;
  color: #20aeb3;
  background: #c0f3f5;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: azure;
}
